/cache/smarty/compile/
/cache/smarty/cache/
/cache/cachefs/
/img/tmp/
/themes/*/cache/*.js
/themes/*/cache/*.css

/tools/smarty*/cache/*.php
!tools/smarty*/cache/index.php
/tools/smarty*/compile/*.php
!tools/smarty*/compile/index.php
log/*.log

cache/tcpdf/*
!cache/tcpdf/index.php
!index.php


